##################################  AI_Stack Configuration   #################

# -----------------------------
# OLLAMA
# -----------------------------
OLLAMA_PORT=11434

# Modelos a descargar al iniciar el container (separados por espacios).
# NOTA: por ahora solo usar 1 modelo de embeddings.
OLLAMA_MODELS_LIST="nomic-embed-text:latest ministral-3:3B"

# Tamaño del embedding (dimensión del vector).
# Debe coincidir con el modelo de embedding que usaran (nomic-embed-text:latest)
# Este sera usado para crear una tabla en postgres que almacene vectores de dicho tamaño
EMBEDDING_SIZE=768

# -----------------------------
# POSTGRES
# -----------------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=flowise
POSTGRES_PORT=5432

# -----------------------------
# FLOWISE
# -----------------------------
FLOWISE_PORT=3000
DATABASE_SCHEMA=public

OLLAMA_BASE_URL=http://ollama:11434


# ========================
# n8n
# ========================
N8N_PORT=5678
N8N_TIMEZONE=America/Panama





##################################  Fleet Compose Configuration  #################
# -----------------------------
# MYSQL
# -----------------------------
MYSQL_ROOT_PASSWORD=admin123
MYSQL_DATABASE=fleet
MYSQL_USER=fleet
MYSQL_PASSWORD=fleet123

# -----------------------------
# Fleet Server
# -----------------------------
# Generate a random key with: openssl rand -base64 32
#TODO: CAMBIA ESTA LLAVE EN PRODUCCION... ESTA ESDE PRUEBAS, SOLO PARA DESARROLLO
FLEET_SERVER_PRIVATE_KEY=5xJNDT0n0w7J3jUuQUdeXyRJ7x3Z/TyVtuL+qlsTM8I=

# Fleet HTTP Listener Configuration
FLEET_SERVER_ADDRESS=0.0.0.0
FLEET_SERVER_PORT=1337

# TLS Configuration
# Set to 'true' if Fleet handles TLS directly (requires certificates in ./certs/)
# Set to 'false' if using a reverse proxy or load balancer for TLS termination
FLEET_SERVER_TLS=true

# TLS Certificate paths (only needed if FLEET_SERVER_TLS=true)
FLEET_SERVER_CERT=/fleet/fleet.crt
FLEET_SERVER_KEY=/fleet/fleet.key

# Fleet License (optional - leave empty for free tier)
FLEET_LICENSE_KEY=

# Fleet Session & Logging
FLEET_SESSION_DURATION=24h
FLEET_LOGGING_JSON=true

# Fleet Osquery Configuration
FLEET_OSQUERY_STATUS_LOG_PLUGIN=filesystem
FLEET_FILESYSTEM_STATUS_LOG_FILE=/logs/osqueryd.status.log
FLEET_FILESYSTEM_RESULT_LOG_FILE=/logs/osqueryd.results.log
FLEET_OSQUERY_LABEL_UPDATE_INTERVAL=1h

# Fleet Vulnerabilities
FLEET_VULNERABILITIES_CURRENT_INSTANCE_CHECKS=yes
FLEET_VULNERABILITIES_DATABASES_PATH=/vulndb
FLEET_VULNERABILITIES_PERIODICITY=1h

# S3 Configuration (optional - leave empty if not using S3)
FLEET_S3_SOFTWARE_INSTALLERS_BUCKET=
FLEET_S3_SOFTWARE_INSTALLERS_ACCESS_KEY_ID=
FLEET_S3_SOFTWARE_INSTALLERS_SECRET_ACCESS_KEY=
FLEET_S3_SOFTWARE_INSTALLERS_FORCE_S3_PATH_STYLE=
FLEET_S3_SOFTWARE_INSTALLERS_ENDPOINT_URL=
FLEET_S3_SOFTWARE_INSTALLERS_REGION=


# -----------------------------
# Fleet Control (fleetctl)
# -----------------------------

# Login
# These credentials are used to create the initial admin user and organization in Fleet.
FLEET_ORG_NAME=Sentinel
FLEET_ADMIN_NAME=Admin
FLEET_ADMIN_EMAIL=admin123@gmail.com
FLEET_ADMIN_PASSWORD=Admin123456$

# Enrollment
# Secret used to enroll new host machines into Fleet.
# This value will be registered in Fleet (GitOps/apply) and embedded into the installer.
##TODO: CAMBIA ESTA LLAVE EN PRODUCCION... ESTA ESDE PRUEBAS, SOLO PARA DESARROLLO
# Generate a random key with: openssl rand -base64 32
FLEET_ENROLL_SECRET=pW4xhiuQS4WgLaMu0H0C0rXhYyp7hTMcjgwoqcib2Tg=

# Public hostname or IP reachable from target hosts (NOT the Docker service name "fleet")
# Examples:
#  - fleet.local
#  - 192.168.1.50
#  - mycompany.com
FLEET_HOST=fleet.local

# Installer output filename
INSTALLER_NAME=fleet-osquery

# Flags to control which installer formats to generate (true/false)
GENERATE_MSI=true
GENERATE_DEB=true
GENERATE_RPM=true
GENERATE_PKG=true